<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Me</a></li>
    <li><a ng-href="#/table">Table</a></li>
    <li><a ng-href="#/about">Chart</a></li>
  </ul>

  <p class="lead">
    <img src="https://avatars2.githubusercontent.com/u/1140765?v=3&s=460"
         width="36px"
         height="36px">
    Hi guys.
  </p>
</div>

<table></table>
<chart></chart>

<div>
  These are challenges I faced during last year.
  <hr/>
  <div ng-repeat="challenge in challenges">
    {{challenge}}
  </div>
</div>
​
<button type='reset'
        ng-click='openChallengeScreen()'
        class='btn btn-default panel-button'>Cancel
</button>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Made for Small Improvement Team</p>
</div>
