<div class="header">
  <!--<ul class="nav nav-pills pull-right">-->
  <!--<li class="active"><a ng-href="#">Me</a></li>-->
  <!--<li><a ng-href="#/table">Table</a></li>-->
  <!--<li><a ng-href="#/about">Chart</a></li>-->
  <!--</ul>-->

  <p class="lead">
    <img src="https://avatars2.githubusercontent.com/u/1140765?v=3&s=460"
         width="36px"
         height="36px">
    Hi guys
  </p>
</div>


<div>

  <!--<div> -->
  <!--<carousel interval="5000">-->
  <!--<slide ng-repeat="slide in slides"-->
  <!--active="slide.active">-->
  <!--<img ng-src="{{slide.image}}"-->
  <!--width="100%"-->
  <!--style="margin:auto;">-->

  <!--<span class="text-center">-->
  <!--{{slide.challenge}}-->
  <!--<button ng-click='openChallengeScreen()'-->
  <!--class='btn btn-default'>More about-->
  <!--</button>-->
  <!--</span>-->
  <!--</slide>-->
  <!--</carousel>-->
  <!--</div>-->

  <!--<introductiton ng-if='filter.type=="annotation" && filter.isSelected'></introduciton>-->

</div>

<div>​
  <table class="col-md-6"
         style="width: 50%"></table>
  <chart class="col-md-6"
         style="width: 50%"></chart>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span>Made with love to coding</p>
</div>
